
chefserver/.vagrant/machines/chef-server/virtualbox/action_provision

chefserver/.vagrant/machines/chef-server/virtualbox/action_set_name

chefserver/.vagrant/machines/chef-server/virtualbox/creator_uid

chefserver/.vagrant/machines/chef-server/virtualbox/id

chefserver/.vagrant/machines/chef-server/virtualbox/index_uuid

chefserver/.vagrant/machines/chef-server/virtualbox/private_key

chefserver/.vagrant/machines/chef-server/virtualbox/synced_folders
